/* Reset básico para evitar inconsistências entre navegadores */
* {
    margin: 0;                    /* Remove margens padrão */
    padding: 0;                   /* Remove espaçamentos internos padrão */
    box-sizing: border-box;      /* Inclui padding e borda no tamanho total do elemento */
}

body{
    background-color:rgb(9, 1, 19);
}
header {
    display: flex;            
    flex-direction: column;
    align-items: center;
}
nav{
    overflow: hidden;
  background-color:#320338;
  width: 1400px;
}

nav ul {
    display: flex;
    font-size: 25px;
    list-style: none;           
    gap: 30px;         
}

/* Links do menu */
nav a {
     text-decoration: none;     
    font-weight: bold;     
    transition: color 0.3s ease; 
    color: #eff9ff;               
    float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Efeito hover nos links */
nav a:hover {
     color: #9d00ff; 
    background-color: #ddd;
}
.glow{
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    margin-bottom: 30px;
}

/* Adição de um banner */
#banner{
    display: flex;
    align-content: center;
    margin-top: 10px;
    width: 95%;
    height: 500px;
}
/* pequena caixa de perguntas */
nav input[type=text] {
    display: flex;
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  font-size: 17px;
}
/* Parte do scroll em que o rolamento de imagens  */
div.scroll-container {
  background-color: #050114; /*Cor de fundo do scroll*/
  overflow: auto; /*Exibe a barra de rolagem quando o conteudo ultrapassa os elementos*/
  white-space: nowrap; /*Espaçamento */
  padding: 10px; /*Espaçamento entre as imagens*/
}

div.scroll-container img {
  padding: 10px;
}
h1 {
    font-family: 'Playfair Display', serif;
  color: #08b1df; /* Cor principal do texto */
  align-items: center;
  text-align: center;
  margin-top: 60px;
  text-shadow: 
    0 0 5px #9d00ff,
    0 0 10px #9d00ff,
    0 0 20px #9d00ff,
    0 0 40px #9d00ff;   
}

#museu h2 {
  color: #F8DCFB; /* Cor do título da sessão */
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
  text-shadow: 
    0 0 5px #00f0ff,
    0 0 10px #00f0ff,
    0 0 20px #00f0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

#museu {

  color: #f0e6ff; /* Cor do texto */      
  font-family: Georgia, serif; /* Fonte */
  text-align: center; /* Alinhamento do parágrafo */
  padding: 20px; /* Espaçamento interno */
  margin-top: 50px; /* Espaço antes da seção */
  background-color: #320338; /* Fundo leve */
  border-radius: 10px;
}

#moda2025 h2 {
  color: #5f0768; /* Cor do título da sessão */
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
  text-shadow: 
    0 0 5px #e748ff,
    0 0 10px #e748ff,
    0 0 20px #e748ff,
    0 0 40px #e748ff,
    0 0 80px #e748ff
}

#moda2025 {
  color: #5f0768; /* Cor do texto */      
  font-family: Georgia, serif; /* Fonte */
  text-align: center; /* Alinhamento do parágrafo */
  padding: 20px; /* Espaçamento interno */
  margin-top: 50px; /* Espaço antes da seção */
  background-color: #F8DCFB; /* Fundo leve */
  border-radius: 10px;
}

#moda3025 h2 {
  color: #F8DCFB; /* Cor do título da sessão */
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
  text-shadow: 
    0 0 5px #00f0ff,
    0 0 10px #00f0ff,
    0 0 20px #00f0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

#moda3025 {
  color: #f0e6ff; /* Cor do texto */      
  font-family: Georgia, serif; /* Fonte */
  text-align: center; /* Alinhamento do parágrafo */
  padding: 20px; /* Espaçamento interno */
  margin-top: 50px; /* Espaço antes da seção */
  background-color: #320338; /* Fundo leve */
  border-radius: 10px;
}
#evolucao h2{
  color: #08b1df; /* Cor principal do texto */
  align-items: center;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
    text-shadow: 
    0 0 5px #9d00ff,
    0 0 10px #9d00ff,
    0 0 20px #9d00ff,
    0 0 40px #9d00ff; 
}
#evolucao{

  color: #f0e6ff; /* Cor do texto */      
  font-family: Georgia, serif; /* Fonte */
  text-align: center; /* Alinhamento do parágrafo */
  padding: 20px; /* Espaçamento interno */
  margin-top: 50px; /* Espaço antes da seção */
  border-radius: 10px;
}

#evolucaoimg{
    width: 300px;
    height: 300px;
}
.ImagensEvolui{
    width: 400px;
    height: 400px;
}
#conteiner{
    display: flex;
    flex-direction: row;
    font-size: 30px;
}
#conteiner p{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-top: 50px;
    text-align: justify;
    margin-left: 30px;

}
#conteiner img{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    margin-left: 20px;
}

#conteiner1{
    display: flex;

    flex-direction: row-reverse;
    font-size: 30px;

}
#conteiner1 p{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-top: 50px;
    text-align: justify;
    margin-left: 30px;

}
#conteiner1 img{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 500px;
    margin-left: 20px;
}
footer {
  width: 100%;
  height: 300px;
  background-color: rgb(25, 2, 38);
  color: white;
  text-align: center;
  padding: 10px;
}
footer h5{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30px;
  background-color: rgb(25, 2, 38);
  color: white;
  text-align: center;
  padding: 10px;
}
h4{
    color: #08b1df; /* Cor principal do texto */
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
    text-shadow: 
    0 0 5px #9d00ff,
    0 0 10px #9d00ff,
    0 0 20px #9d00ff,
    0 0 40px #9d00ff; 

}
label{
  color: #08b1df; /* Cor principal do texto */
  align-items: center;
  text-align: center;
  font-size: 20px;
    text-shadow: 
    0 0 5px #9d00ff,
    0 0 10px #9d00ff,
    0 0 20px #9d00ff,
    0 0 40px #9d00ff; 
}
textarea{
  margin-top: 10px;
  width: 300px;
  height: 150px;
}
/* Botões de enviar e resetar */
input[type="submit"] {
  margin: 10px;
    background-color: #580a6f;  /* Fundo azul */
    color: white;               /* Texto branco */
    border: none;               /* Sem borda */
    padding: 10px;              /* Espaço interno */
    cursor: pointer;            /* Cursor de mãozinha */
    border-radius: 5px;         /* Bordas arredondadas */
    transition: background 0.3s ease; /* Transição suave */
    max-width: 200px;           /* Largura máxima */
}

/* Efeito hover nos botões */
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #ad35b8; /* Azul um pouco mais escuro */
}



/* style inputs and link buttons */

.botao {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* Adicionando e organizando os botões das redes*/
.fb {
  background-color: #1f9333;
  color: white;
}
.twitter {
  background-color: #000000;
  color: white;
}

.google {
  background-color: #c8230d;
  color: white;
}
/* Colocando as redes em colunas*/
.redes {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Menu em coluna */
        align-items: center;    /* Centraliza os itens */
    }

    input, select {
        width: 100%;            /* Inputs ocupam a largura total*/
    }
    nav a, nav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  nav input[type=text] {
    border: 1px solid #ccc;
  }
  .redes {
    width: 100%;
    margin-top: 0;
  }
}
 
